FLASK_ENV="production"
SECRET_KEY="not-particularly-secure"

# With a strict session cookie, it appears that (some?) browsers won't send it
# until a user navigation event happens, which results in "enable cookies and refresh
# 2 times to continue"
SESSION_COOKIE_SAMESITE="Lax"

# URLs of the OAuth2-based identity provider (must be set!)
OAUTH2_AUTH_URL = 'http://localhost:5000/oauth2/authorize'

OAUTH2_TOKEN_URL = 'http://uffd:5000/oauth2/token'
OAUTH2_USERINFO_URL = 'http://uffd:5000/oauth2/userinfo'
